/* Indents */
hr.indent-9,
hr.indent-12,
hr.indent-18,
hr.indent-24,
hr.indent-28,
hr.indent-32,
hr.indent-36,
hr.indent-40,
hr.indent-46,
hr.indent-52,
hr.indent-56,
hr.indent-60,
hr.indent-64,
hr.indent-72,
hr.solid,
hr.dotted,
hr.dashed{padding: 0; border: none; background: none; height: 0;}

hr.indent-9 {margin:.75em 0;}
hr.indent-12 {margin: 1em 0;}
hr.indent-18 {margin: 1.5em 0;}
hr.indent-24 {margin: 2em 0;}
hr.indent-28 {margin: 2.333em 0;}
hr.indent-32 {margin: 2.5em 0;}
hr.indent-36 {margin: 3em 0;}
hr.indent-40 {margin: 3.333em 0;}
hr.indent-46 {margin: 3.883em 0;}
hr.indent-52 {margin: 4.333em 0;}
hr.indent-56 {margin: 4.667em 0;}
hr.indent-60 {margin: 5em 0;}
hr.indent-64 {margin: 5.33em 0;}
hr.indent-72 {margin: 6em 0;}

/* invisible indents */
hr.white-space{margin-top: 0;}

/* solid indents */
hr.solid{border-bottom:1px solid #B4B4B4;}

/* dotted indents */
hr.dotted{border-bottom:1px dotted #B4B4B4;}

/* dashed indents */
hr.dashed{border-bottom:1px dashed #B4B4B4;}

/* poster links */
.poster-link {display: inline-block;}