<!DOCTYPE html>

<html ng-app="moviecompare">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie Cast Comparison | by Windi Concepts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/custom.css">

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="js/app.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="bower_components/html5-boilerplate/js/plugins.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <div class="row col-sm-12">
                <h1>
                    Movie Cast Comparison<br/>
                    <small>by <a href="http://windiconcepts.com">Windi Concepts</a></small>
                </h1>
            </div>
            <div class="row" ng-controller="MovieController">
                <div class="col-sm-6">
                    <h4>Movie #1</h4>
                    <input type="text" ng-model="movie_1" placeholder="1st movie" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="200" typeahead="movie as movie.label for movie in searchMovie($viewValue)" typeahead-loading="loadingMovies_1" class="form-control">
                    <hr class="white-space indent-9"/>
                    <i ng-show="loadingMovies_1" class="glyphicon glyphicon-refresh"></i>
                    <a ng-if="movie_1" href="{{movieUrl + movie_1.id}}" target="_blank" class="poster-link">
                        <img ng-if="movie_1.poster_path" ng-src="{{posterUrl + movie_1.poster_path}}" class="img-responsive"/>
                        <span ng-if="!movie_1.poster_path">{{movie_1.label}}</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <h4>Movie #2</h4>
                    <input type="text" ng-model="movie_2" placeholder="2nd movie" typeahead-editable="false" typeahead-min-length="1" typeahead-wait-ms="200" typeahead="movie as movie.label for movie in searchMovie($viewValue)" typeahead-loading="loadingMovies_2" class="form-control">
                    <hr class="white-space indent-9"/>
                    <i ng-show="loadingMovies_2" class="glyphicon glyphicon-refresh"></i>
                    <a ng-if="movie_2" href="{{movieUrl + movie_2.id}}" target="_blank" class="poster-link">
                        <img ng-if="movie_2.poster_path" ng-src="{{posterUrl + movie_2.poster_path}}" class="img-responsive"/>
                        <span ng-if="!movie_2.poster_path">{{movie_2.label}}</span>
                    </a>
                </div>
                <div class="col-sm-12">
                    <hr class="white-space indent-24"/>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button class="center-block btn btn-info btn-block btn-lg" ng-click="compareMovies(movie_1, movie_2)">Compare Movies</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <hr class="white-space indent-12"/>
                    <h4>Shared Actors/Actresses <span class="badge">{{shared_actors.length}}</span></h4>
                    <div ng-show="shared_actors" class="list-group">
                        <a target="_blank" href="{{personUrl + s.id}}" class="list-group-item" ng-repeat="s in shared_actors | orderBy: 'order'">
                            {{s.name}}
                        </a>
                    </div>
                    <div ng-hide="shared_actors">
                        No results
                    </div>
                </div>
            </div>
        </div>

        <div class="container footer" ng-controller="SystemController">
            <hr class="indent-32 white-space"/>
            <hr/>
            <div class="row">
                <div class="col-sm-4">
                    <small>All movie results courtesy of <a href="https://www.themoviedb.org/">TMDb</a></small>
                </div>
                <div class="col-sm-12">
                    &copy; {{date | date:'yyyy'}} Windi Concepts. All Rights Reserved.
                </div>
            </div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->
    </body>
</html>
